

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  
  justify-content: center;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  max-width: 1200px;
}

a {
  text-decoration: none;
}
label {
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
  font-weight: bold;
  color: #112827;
}
.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}
input,
textarea {
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  color: #383838;
  font-weight: 600;
}
button {
  user-select: none;
  color: white;
  text-decoration: none;
}
button:hover {
  text-decoration: none;
}
button:focus,
a:focus {
  opacity: 0.5;
  box-shadow: 0.5px 0.5px 0px 2px rgb(218, 213, 213), 0px 0px 0px 2px #f1f1f1;
  text-decoration: none;
}
.footer li {
  margin: 0rem 0.2rem;
  text-decoration: none;
}

.li{
  text-decoration: none;
}
label{
  text-decoration: none;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}
.scroll-transition {
  scroll-behavior: smooth;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 20px;
  width: 50%;
  color: blue;
}

.p-5 {
  padding: 0px;
}
.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}
.max-six-digits {
  max-width: 14ch;
}
.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.label-one-line {
  white-space: nowrap;
}
.rounded-left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}
.error-msg {
  line-height: 1.5;
  margin-left: 2rem;
}
.dropdown-item {
  padding: 5px;
  cursor: pointer;
}
.currency-control {
  width: 50px;
}
.badgeBalance {
  display: inline-block;
  padding: 0.25em 0.4em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.thank {
  margin-bottom: 0;
  text-align: center;
  padding: 5px;
  bottom: 0;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.blue-background {
  background-color: lightblue;
}
.input-group {
  position: relative;
  overflow: hidden;
}

.input-group > .input-group-text,
.input-group > .form-control {
  transition: all 0.3s ease;
}

.input-group.slide-in {
  transform: translateX(100%);
}
.error-message {
  color: red;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out-animation {
  animation: fade-in-out 0.5s ease-in-out infinite alternate;
}
.form-control:focus.valid {
  color: #495057;
  background-color: #fff;
  border-color: green;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgb(138, 192, 138);
}

.form-control:focus.invalid {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.receipt-animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}


.form-control:focus.red {
  color: #495057;
  background-color: #fff;
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, .25);
}

.fade1-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.fade1-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  transition: opacity 500ms, transform 500ms;
}

.fade1-exit {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
}

.fade1-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 200ms, transform 200ms;
}