.backgroundImage {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin-top: -20px;
  }
  
  .backgroundImageDefault {
    background-image: url('../src/img/naturebackground.jpeg');
  }
  
  @media (min-width: 700px) {
    .backgroundImageLarge {
      background-image: url('../src/img/bignaturebackground.jpg');
    }
  }
  @keyframes pulse {
    0%, 100% { transform: scale(1); }
    25% { transform: scale(1.05); }
  }
  
  @keyframes hoverPulse {
    0%, 100% { transform: scale(1.1); }
    50% { transform: scale(1.15); }
  }
  
  .pulseButton {
    animation-delay: 3s;
    animation: pulse 3.5s infinite ease-in-out; 
  }
  
  .pulseButton:hover {
    animation: hoverPulse 0.5s infinite ease-in-out;
  }

  .pulseDown {
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -170px; 
    transform: translateX(-50%); 
    cursor: pointer;
    animation: pulse 3.5s infinite ease-in-out; 
    z-index: 1000; 
    width: 120px;
    height: 120px; 
  }
  .pageHalfHeight {
    height: 50vh; 
  }
  .downicon{
    width: 100px;
    height: 100px;
  }
  .topbar {
    display: flex;
    align-items: center;
  }
  
  .dropdown-menuTop {
    position: absolute;
    top: 100%;
    right: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .menu-item1 {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    width: 100%; 
  }
  
  .menu-item:hover {
    background-color: #f0f0f0;
  }
  
  .menu-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
  }
  
  .menu-link:last-child {
    border-bottom: none; 
  }
  
  .menu-text {
    margin-left: 10px;
  }
  
  .menu-icon {
    margin-right: 10px;
  }
  